target/
*.iml
.idea/
nbactions.xml
*.versionsBackup
.attach*
Docs/build
Docs/.build
Docs/venv
profile_*.csv
venv/
.DS_Store

# PostGIS Docker
.pgadmin/
pgadmin_data/
postgis_data/

.vscode/
.github/copilot-instructions.md
.github/copilot-instructions-old.md
